{% capture date %} {{include.date }}{% endcapture %}

{% if include.href != null %}
	{% assign trTag = '<tr class="clickable-row" href="' | append: include.href | append: '"' %}
{% endif %}

{% if include.href == null %}
	{% assign trTag = '<tr' %}
{% endif %}

{%assign trTag = trTag | append: " date=" | append: date | append: ">" %}

{{ trTag }}
    <td>{{ include.date || date: '%a' }}</td>
    <td>{{ include.date || date: '%d %b %Y' }}</td>
    <td>{{ include.project}}</td>
    <td>{{ include.venue }}</td>
    <td>{{ include.city }}</td>
    <td>{{ include.country }}</td>
    <!-- <td>{% if include.href != null %} <i class="fa fa-external-link"></i> {% endif %} </td> -->
</tr>