<div class="post-content" tab-id="app">
	<div class="title-div">
		<span class="title-span"> 
			{% if include.project.logo %}
				<img class="title-logo" src="{{ include.project.logo }}"></img>
			{% endif %}

			<h2 class="title"> {{ include.project.title }} </h2>
		</span>

		{% if include.project.download %}
			<div class="title-download">
				<span class="download-span">
					<p class="counter" counter-key="{{ include.project.counter-key }}"> </p>
					<a href="javascript:download('{{ include.project.download }}');" class="download-btn" counter-key="{{ include.project.counter-key }}">
						<i class="fa fa-apple"></i>
						<b> Download </b>
					</a>
				</span>
				<!-- <div> <p class="download-note"> * If you get a the security warning, right Click on the App -> Open </p> </div> -->


			{% if include.project.download-windows %}
				<span class="download-span windows">
					<p class="counter" counter-key="{{ include.project.counter-key-windows }}"> </p>
					<a href="javascript:download('{{ include.project.download-windows }}');" class="download-btn windows" counter-key="{{ include.project.counter-key-windows }}">
						<i class="fa fa-windows"></i>
						<b> Download </b>
					</a>
				</span>
				<div> <p class="download-note"> * On Windows, .NET Framework 4.7.2 is required </p> </div>
			{% endif %}

			</div>
		{% endif %}
		
		{% if include.project.website %}
			<a href="{{ include.project.website }}" class="title-link fa fa-external-link" target="_blank"></a>
		{% endif %}
	 </div>

	{% if include.project.website %}
		<div class="post-details">
			<a href="{{ include.project.website }}" class="post-url" target="_blank">{{ include.project.website }}</a>
		</div>
	{% endif %}

	<!-- The Content -->
	<div class="the-content">
		{{ include.content }}
	</div>
	<!-- End The Content -->

</div>