<div class="post-content hidden" tab-id="forum" alternate-id="discussion">
	<span class="title-span"> 
		{% if include.project.logo %}
			<img class="title-logo" src="{{ include.project.logo }}"></img>
		{% endif %}

		<h2 class="title"> <a href="{{ include.project.forum-url }}" target="_blank">Forum </a> </h2>
	</span>

	<div class="the-content">
		Offical forum for any questions, discussions, support, feature requests, documentation, FAQ related to the app is available <a href="{{ include.project.forum-url }}" target="_blank"> HERE </a>.

		<!-- <br/><br/> <i> The old forum <a href="{{ include.project.discussion-url }}" target="_blank"> link </a> (no longer in use). </i> -->

	</div>

</div>