<div class="post-content hidden" tab-id="changelog">
	<span class="title-span"> 
		{% if include.project.logo %}
			<img class="title-logo" src="{{ include.project.logo }}"></img>
		{% endif %}

		<h2 class="title"> Changelog </h2>
	</span>

	<div class="title-os">
		<a class="fa fa-windows os os-windows"></a>
		<a class="fa fa-apple os os-mac selected"></a>
	</div>

	<div class="the-changelog" url="/assets/changelog/{{ include.project.changelog }}.xml" url-windows="/assets/changelog/{{ include.project.changelog-windows }}.xml">
		
	</div>

</div>