<div class="post-content hidden" tab-id="feature-requests">
	<span class="title-span"> 
		{% if include.project.logo %}
			<img class="title-logo" src="{{ include.project.logo }}"></img>
		{% endif %}

		<h2 class="title"> Feature Requests </h2>
	</span>

	 <div class="the-content">

		{{ include.fundraiser.content | markdownify }}

	</div>

	<div class="the-fundraisers">

		{% for item in include.fundraiser.completed %}
			<span>
				{% include fundraiser.html uri = item completed = true %}
			</span>
		{% endfor %}

		{% for item in include.fundraiser.in-progress %}
			<span>
				{% include fundraiser.html uri = item progress = true %}
			</span>
		{% endfor %}

		{% for item in include.fundraiser.fundraisers %}
			<span>
				{% include fundraiser.html uri = item %}
			</span>
		{% endfor %}
	</div>

</div>