<div class="post-content hidden" tab-id="release-notes" alternate-id="changelog">
	<span class="title-span"> 
		{% if include.project.logo %}
			<img class="title-logo" src="{{ include.project.logo }}"></img>
		{% endif %}

		<h2 class="title"> Release Notes </h2>
	</span>

	<div class="title-os">
		<a class="fa fa-windows os os-windows"></a>
		<a class="fa fa-apple os os-mac selected"></a>
	</div>

	<div class="the-release-notes" url="{{ include.project.release-notes }}" url-windows="{{ include.project.release-notes-windows }}">
		
	</div>

</div>