<!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fantonioraduvarga%2Fvideos%2F%2F&show_text=0&width=auto&mute=0" width="auto" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

 -->


<div class="aspect-ratio-container aspect-ratio-{{ include.ratio }}">

	<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fantonioraduvarga%2Fvideos%2F{{ include.uri }}%2F&show_text=0&width=auto&mute=0" width="auto" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>


</div>

