<div class="header affix">
  <div class="table">
    <div class="table-cell">

      <div class="logo">
        {{ site.title}}
      </div>

      <div class="main-menu">
        <nav>
          <ul class="menu-list">

          {% for item in site.data.menu.items %}
            {% if page.url == item.url or (page.url contains item.url and item.url != "/") %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
                <a href="{{item.url}}">{{item.title}}</a>
              </li>
          {% endfor %}

          </ul>
        </nav>
      </div>

      {% include social.html %}

      <div class="copyright">
        <p>
          Antonio-Radu Varga @ 2020
        </p>
      </div>

    </div>
  </div>
</div>