<article class="post">

		<div class="post-media">

			<div class="slick-items">

				{% for item in include.img %}
				<span>
					<img src="{{ item }}">
			</span>
				{% endfor %}

				{% for item in include.video %}
				<span>
					{% include youtube.html uri = item
	  						  ratio = "hd" %}
			</span>
				{% endfor %}

			</div>
		</div>

	<div class="post-content">
		<h2 class="title"> {{ include.title }} </h2>

		{% if include.website %}
			<div class="post-details">
				<a href="{{ include.website }}" class="post-url" target="_blank">{{ include.website }}</a>
			</div>
		{% endif %}

		<!-- The Content -->
		<div class="the-content">
			{{ include.content }}
		</div>
		<!-- End The Content -->

	</div>
</article>