<article class="post">

		<div class="post-media">

			{% if include.aspect_photo == true %}

				<div class="aspect-ratio-photo" >
						<img class="aspect-img post-img" src="{{ include.img }}">
				</div>

			{% else %}

				<div class="slick-items"> 
					<!-- img -->
					{% for item in include.img %}
					<span>
						<img src="{{ item }}">
					</span>
					{% endfor %}

					<!-- video -->
					{% for item in include.video %}
					<span>
						{% include youtube.html uri = item
		  						  								ratio = "hd" %}
					</span>
					{% endfor %}

					<!-- soundcloud -->
					{% for item in include.soundcloud %}
					<span>
						{% include soundcloud.html uri = item
		  						  									 ratio = "photo" %}
					</span>
					{% endfor %}

					<!-- bandcamp -->
					{% for item in include.bandcamp %}
					<span>
						{% include bandcamp.html uri = item
		  						  								 ratio = "photo" %}
					</span>
					{% endfor %}

				</div>

			{% endif %}

		</div>

	<div class="post-content">
		<h2 class="title"> {{ include.title }} </h2>

		{% if include.website %}
			<div class="post-details">
				<a href="{{ include.website }}" class="post-url" target="_blank">{{ include.website }}</a>
			</div>
		{% endif %}

		<!-- The Content -->
		<div class="the-content">
			{{ include.content }}
		</div>
		<!-- End The Content -->

	</div>
</article>