<article class="post {{ include.project.html-class }}">

		<div class="post-media">

			{% if include.project.aspect-photo == true %}

				<div class="aspect-ratio-photo" >
						<img class="aspect-img post-img" src="{{ include.project.img }}">
				</div>

			{% else %}

				<div class="slick-items"> 

					<!-- video -->
					{% for item in include.project.video %}
					<span>
						{% include youtube.html uri = item
		  						  								ratio = "hd" %}
					</span>
					{% endfor %}

					<!-- soundcloud -->
					{% for item in include.project.soundcloud %}
					<span>
						{% include soundcloud.html uri = item
		  						  									 ratio = "photo" %}
					</span>
					{% endfor %}

					<!-- bandcamp -->
					{% for item in include.project.bandcamp %}
					<span>
						{% include bandcamp.html uri = item
		  						  								 ratio = "photo" %}
					</span>
					{% endfor %}
					
					<!-- img -->
					{% for item in include.project.img %}
					<span>
						<img src="{{ item }}">
					</span>
					{% endfor %}

				</div>

			{% endif %}

		</div>

	{% if include.project.has-tabs == true %}

		<div class="tabs">
		  <button tab-id="content" class="tab"> App </a>
		  <button tab-id="faq" class="tab"> FAQ </a>
		  <button tab-id="feature-requests" class="tab"> Feature Requests </a>
		  <button tab-id="forum" class="tab"> Discussion </a>
		  <button tab-id="changelog" class="tab"> Changelog </a>
		</div>

	{% endif %}

	{% include content-project.html project = include.project
								    content = content %}


	{% if include.project.has-tabs %}

		{% assign fund = site.fundraisers | where:"slug", page.fundraiser-tag  | first %}
		{% include content-feature-requests.html project = page
												 fundraiser = fund %}

		{% include content-faq.html project = page %}

		{% include content-discussion.html project = page %}

		{% include content-changelog.html project = page %}

	{% endif %}
							 


</article>