<article class="post {{ include.project.html-class }}">

		<div class="post-media">

			{% if include.project.aspect-photo == true %}

				<div class="aspect-ratio-photo" >
						<img class="aspect-img post-img" src="{{ include.project.img }}">
				</div>

			{% else %}

				<div class="slick-items"> 

					<!-- video -->
					{% for item in include.project.video %}
					<span>
						{% include youtube.html uri = item
		  						  								ratio = "hd" %}
					</span>
					{% endfor %}

					<!-- soundcloud -->
					{% for item in include.project.soundcloud %}
					<span>
						{% include soundcloud.html uri = item
		  						  									 ratio = "photo" %}
					</span>
					{% endfor %}

					<!-- bandcamp -->
					{% for item in include.project.bandcamp %}
					<span>
						{% include bandcamp.html uri = item
		  						  								 ratio = "photo" %}
					</span>
					{% endfor %}
					
					<!-- img -->
					{% for item in include.project.img %}
					<span>
						<img src="{{ item }}">
					</span>
					{% endfor %}

				</div>

			{% endif %}

		</div>

	<div class="post-content">
		<div class="title-div">
			<span class="title-span"> 
				{% if include.project.logo %}
					<img class="title-logo" src="{{ include.project.logo }}"></img>
				{% endif %}

				<h2 class="title"> {{ include.project.title }} </h2>
			</span>
			{% if include.project.download %}
				<div class="title-download">
					<a href="{{ include.project.download }}" class="download-btn" counter-key="{{ include.project.counter-key }}">
						<i class="fa fa-download"></i>
						<b> Download </b>
					</a>
					<p class="counter" counter-key="{{ include.project.counter-key }}"> </p>
				</div>
				
			{% endif %}
			{% if include.project.website %}
				<a href="{{ include.project.website }}" class="title-link fa fa-external-link" target="_blank"></a>
			{% endif %}
		 </div>

		{% if include.project.website %}
			<div class="post-details">
				<a href="{{ include.project.website }}" class="post-url" target="_blank">{{ include.project.website }}</a>
			</div>
		{% endif %}

		<!-- The Content -->
		<div class="the-content">
			{{ include.content }}
		</div>
		<!-- End The Content -->

	</div>
</article>