---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

/*=========================================================================

0. Custom CSS
1. Reset CSS
2. Typography
3. General
4. Header
5. Projects
6. Posts
7. Footer
8. Preload
9. Responsive

=========================================================================*/

$body_background: #f0f0f0;
$post_background: #e4e4e4;
$body_color: #333333;
$body_font: 'Lato', serif;
$body_size: 15px;
$body_line_height: 24px;

$selection_background: #222222;
$selection_color: #f7f7f7;
$link_hover_color: #000000;
$link_hover_color_white: #ffffff;

$tab_color: #cdcdcd;
$tab_hover_color: #d8d8d8;

$title_font: 'Lato', serif;
$title_color: #4a4a4a;
$sub_title_color: #868686;
$event_past_color: #8c8c8c;
$title_line_height: 30px;
$title_size: 24px;
$sub_title_size: 20px;
$sub_sub_title_size: 16px;

$menu_font: 'Roboto', serif;
$menu_size: 18px;
$menu_line_height: 24px;
$menu_color: #000000;
$menu_padding: 40px;
$menu_background: rgba(225, 225, 225, 0.1);

$margin-bottom: 20px;

// Mixins
@mixin translateXY($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin translateX($x) {
	-webkit-transform: translateX($x);
	-moz-transform: translateX($x);
	transform: translateX($x);
}

@mixin translateY($y) {
	-webkit-transform: translateY($y);
	-moz-transform: translateY($y);
	transform: translateY($y);
}

@mixin transform($text) {
	-webkit-transform: $text;
	-moz-transform: $text;
	transform: $text;
}

@mixin transition($text) {
	-webkit-transition: $text;
	-moz-transition: $text;
	-ms-transition: $text;
	-o-transition: $text;
	transition: $text;
}

@mixin transition2($text1, $text2) {
	-webkit-transition: $text1, $text2;
	-moz-transition: $text1, $text2;
	-ms-transition: $text1, $text2;
	-o-transition: $text1, $text2;
	transition: $text1, $text2;
}

@mixin transition3($text1, $text2, $text3) {
	-webkit-transition: $text1, $text2, $text3;
	-moz-transition: $text1, $text2, $text3;
	-ms-transition: $text1, $text2, $text3;
	-o-transition: $text1, $text2, $text3;
	transition: $text1, $text2, $text3;
}

@mixin animation($text) {
	-webkit-animation: $text;
	-moz-animation: $text;
	-ms-animation: $text;
	-o-animation: $text;
	animation: $text;
}

@mixin animation_delay($text) {
	-webkit-animation-delay: $text;
	-moz-animation-delay: $text;
	-ms-animation-delay: $text;
	-o-animation-delay: $text;
	animation-delay: $text;
}

@mixin clearfix() {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

/* =========== 1. Reset CSS  =========== */
table {
	width: 100%;
}

table {
	color: #000000;

	tr {
		border-top: 1px solid rgba(0,0,0,.2);
		border-bottom: 1px solid rgba(0,0,0,.2);
		height: 64px;
		text-align: center; 

		&.past {
			color: $event_past_color;
		}

		&:hover {
			background: #00000015;
			@include transition(all 0.3s ease);

			&.clickable-row {
				cursor: pointer;
			}
		}
	}

	td {
		font-size: 17px;
	}
}

#tableSearch {
	margin-bottom: -1px;
}

#player {
	max-width: auto !important;
}

.center-title {
	text-align: center;
}

.form-privacy input {
	cursor: pointer;
	width: 18px;
	height: 18px;
	margin-top: 2px;
	position: relative;
	margin-right: 8px;
}

.form-privacy span{
	position: absolute;
}

.form-privacy a {
	color: dodgerblue;
}

.fa-external-link {
	padding: 0 10px 0 10px;
}

.aspect-ratio-hd {
	position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55%; /* The height of the item will now be 56% of the width. */
}

.aspect-ratio-photo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
}

.youtube {
	object-fit: cover;
}

.aspect-img {
	position: absolute;
	height: 100%;
	object-fit: cover;
}

.post-img {
	object-position: top;
}

.aspect-ratio-container {
  margin-bottom: $margin-bottom;
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
	// margin-bottom: $margin-bottom;
}

img, legend {
	border: 0;
}

legend, td, th {
	padding: 0;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, optgroup, strong {
	font-weight: 700;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

mark {
	background: $body_background;
	color: $body_color;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 1px;
	background-color: #ababab;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	border-radius: 0;
	line-height: normal;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	height: auto;
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid $body_color;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
input,
textarea,
button,
select {
	outline: none;
}

a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
	outline: none !important;
	text-decoration: none;
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #ababab;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #ababab;
}

/* =========== 2. Typography  =========== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $title_font;
	color: $title_color;
	font-weight: 400;
	line-height: 1.2em;
	margin-bottom: $margin-bottom;
	margin-top: 0;
}

h1 > a, .h1 > a, h2 > a, .h2 > a, h3 > a, .h3 > a, h4 > a, .h4 > a, h5 > a, .h5 > a, h6 > a, .h6 > a {
	color: inherit;
}

h1, .h1 {
	font-size: 36px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 26px;
}

h4, .h4 {
	font-size: 22px;
}

h5, .h5 {
	font-size: 18px;
}

h6, .h6 {
	font-size: 14px;
}

a {
	color: $sub_title_color;
	background-color: transparent;
	text-decoration: none;
	@include transition(all 0.3s ease);

	&:hover {
		color: $link_hover_color !important;
	}

	&:hover, &:active {
		outline: 0;
	}
}

.copyright {
	font-size: 12px;
	color: #ababab;

	a {
		color: #ababab;
	}
}

.software .post-content .the-content {
	a {
		color: $link_hover_color !important;

		&:hover {
			color: $sub_title_color !important;
		}
	}

	.buy-button {
		display: inline-block;
		// width: 39px;
		background-color: #0D0D0D;
	    border-radius: 5px;
		color: white !important;
	    font-size: 14px;
	    margin-left: 8px;
	    border: 0px;
	    padding: 1px 7px 2px 5px;

	    &:hover {
			opacity: 0.75;
	    	color: white !important;
		}
	}
}

.quicklinks  a {
	&:hover,
	&:active,
	&:focus {
		color: #00b9eb !important;
	}
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}

code, kbd, pre, samp {
	font-family: $body_font;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

code {
	background-color: #eee;
	letter-spacing: 0.015em;
}

abbr {
	background-color: #A1D71A;
	color: #111;
	border-width: 2px;
}

mark, .mark {
	color: $body_background;
	background-color: #a4b4c4;
}

dfn {
	border-bottom: 1px dashed;
}

cite {
	font-style: normal;
}

blockquote {
	position: relative;
	border: 0;
	padding: 0 0 0 40px;
	margin: $margin-bottom 0;
	font-style: italic;
	overflow: hidden;
	font-size: 14px;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		content: '\f10d';
		font-family: 'FontAwesome';
		display: inline-block;
		color: #ababab;
		font-size: 24px;
	}

	footer, cite {
		font-size: 12px;
		color: $body_color;
		font-weight: 700;

		&:before {
			content: '- ';
			color: $body_color;
		}

		&:after {
			content: ' ';
			color: $body_color;
		}
	}
}

pre {
	line-height: 1.8em;
	padding: 15px;
	border: 1px solid #E4E4E4;
	font-style: italic;
	overflow: auto;
	white-space: pre-wrap;
	background-color: #f7f7f7;
	word-wrap: break-word;
	max-width: 100%;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}

.max-for-live img {
	max-height: 300px;
	object-fit: contain;
}

input[type="search"], input[type="text"], input[type="url"], input[type="number"], input[type="password"], input[type="email"], input[type="file"], select, textarea {
	height: 36px;
	width: 100%;
	border: 1px solid #ababab;
	padding: 0 10px;
	@include transition(all 0.3s ease);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

::-moz-selection {
	color: $selection_color;
	background-color: $selection_background;
}

::selection {
	color: $selection_color;
	background-color: $selection_background;
}

iframe {
	border: 0;
	max-width: 100%;
}

/* ===========  3. General  =========== */
body {
	margin: 0;
	padding: 50px 0 0;
	font-family: $body_font;
	font-size: $body_size;
	background: $body_background;
	color: $body_color;
	overflow-x: hidden;
	overflow: overlay;
	line-height: $body_line_height;
	word-spacing: 1px;
}
.container {
	// max-width: 1100px;
}
.mobile {
	display: none;

	margin-bottom: 60px;

	.menu-mobile-background {
		background: #ffffff;
		margin-top: 20px;
		width: 27px;
		height: 24px;
		position: fixed;
	}

	.menu-mobile {
		width: 60px;
		height: 60px;
		display: inline-block;
		position: absolute;
		z-index: 999;

		.item {
			display: block;
			width: 22px;
			height: 2px;
			background-color: #000000;
			position: relative;
		}
		.item-1 {
			top: 23px;
		}
		.item-2 {
			top: 29px;
		}
		.item-3 {
			top: 35px;
		}
	}

	.logo {
		padding-bottom: 0;
		padding-top: 10px;
		text-align: center;

	}
}

.hide-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	opacity: 0;
	@include transition2(visibility 0.3s ease, opacity 0.3s ease);
}

/* ===========  4. Header  =========== */
.header {
	width: 220px;
	bottom: 0;
	top: 0;
	text-align: right;
	z-index: 9;
}
.header-text {
	margin-bottom: 50px;
	blockquote {
		font-size: 16px;
		padding-left: 50px;

		&:before {
			font-size: 30px;
		}
	}
}
.menu-left {
	.header {
		text-align: left;
	}
	.main-menu {
		.sub-menu {
			padding-left: 0;
			padding-right: $margin-bottom;
			right: 100%;
			left: auto;
			text-align: right;
		}
	}
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.main-menu {
	font-family: $menu_font;
	letter-spacing: 1px;
	font-size: $menu_size;
	line-height: $menu_line_height;

	ul,li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.menu-list > li {
		> a {
			padding-top: 3px;
			padding-bottom: 3px;
			display: block;
		}
	}
	.active {
		a {
			color: $link_hover_color;
		}
	}

	li {
		position: relative;

		&:hover {
			> .sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.sub-menu {
		position: absolute;
		width: 200px;
		top: 0;
		left: 100%;
		font-size: 14px;
		text-align: left;
		visibility: hidden;
		padding-left: 20px;
		opacity: 0;

		li {
			padding-left: 20px;
			padding-right: 20px;
			background-color: #ababab;

			&:first-child {
				padding-top: 10px;
			}

			&:last-child {
				padding-bottom: 10px;
			}
		}

		a {
			color: #000000 !important;
		}
	}
}

.logo {

	font-size: 40px;
	color: #000000;
	text-transform: uppercase;
	padding-bottom: 60px;
	letter-spacing: 2px;
	line-height: 40px;

	a {
		color: inherit;
	}
}

.socials {
	padding-top: 50px;
	padding-bottom: 4px;
	a {
		margin-right: 8px;
		font-size: 16px;
	}
	.fa-search {
		color: #000000;
	}
}

.box-search {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #ffffff;
	opacity: 0;
	visibility: hidden;
	@include transition2(opacity 0.3s ease, visibility 0.3s ease);

	input[type="search"] {
		height: 50px;
		font-size: 24px;
		padding-top: 0;
		border:none;
		border-bottom: 1px solid #000000;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.search-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	position: relative;
	padding-bottom: 200px;
	padding-top: 100px;
}
.kd-close {
	position: absolute;
	width: 50px;
	height: 50px;
	display: inline-block;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 24px;
	//border: 1px solid #000000;
	color: #000000;
	background-color: #ffffff;
	line-height: 48px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	&:before {
		content: '';
		width: 30px;
		height: 2px;
		background-color: #000000;
		display: block;
		@include transform(rotate(44deg) translate(26px, 10px));
	}
	&:after {
		content: '';
		width: 30px;
		height: 2px;
		background-color: #000000;
		display: block;
		@include transform(rotate(-46deg) translate(-10px, 24px));
	}
}

/* ===========  5. Projects  =========== */
.projects {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 50px;
}

.project-item {
	position: relative;
	margin-bottom: $margin-bottom;

	&:last-child {
		margin-bottom: 0;
	}

	.title{
		position: absolute;
		top: 10px;
		left: 20px;
		margin-bottom: 0px !important;

		a {
			background-color: #000000;
			color: #ffffff;
			font-size: 14px;
			display: inline-block;
			line-height: 24px;
			padding-left: 10px;
			padding-right: 10px;
			opacity: 1;
			letter-spacing: 1px;
		}
	}

	&:hover {
		.title {
			opacity: 1;
			visibility: visible;
			@include transition2(opacity 0.3s ease-in-out, visibility 0.3s ease-in-out);

			a:hover {
				color: #ffffff !important;
			}

			a.clickable {
				background-color: #ffffff;
				color: #000000;
				font-size: 14px;
				display: inline-block;
				line-height: 24px;
				padding-left: 10px;
				padding-right: 10px;
				opacity: 1;
				letter-spacing: 1px;

			&:hover {
				color: #000000 !important;
			}
		}
		}
	}
}

.pagination-wrap {

	margin-top: 60px;
	font-family: $title_font;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		span {
			display: block;
		}

		li {
			display: inline-block;
			overflow: hidden;
			font-size: 18px;
			padding-left: 5px;
			padding-right: 5px;

			.current {
				color: #000000;
			}
		}
	}
}

.navigation-wrap {

	margin-top: 50px;
	text-align: center;
	@include clearfix();

	a {
		display: inline-block;
		width: 50px;
		height: 40px;
		line-height: 40px;
		margin-right: 10px;
		background-color: #cccccc;
		opacity:  1;
		@include transition(opacity 0.3s ease);

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.project {
	.detail-content {
		padding: 50px;
		background-color: $post_background;
	}

	.title {
		color: #000000;
		margin-bottom: 0px !important;
	}

	a {
		color: #000000 !important;
		font-weight: 700;
	}
	.project-attributes {
		margin-top: 20px;
		font-size: 12px;

		.socials {
			padding-top: 0;
		}
	}
	table {
		width: 100%
	}
	.name {
		font-weight: 700;
		width: 30%;
		text-align: left;
		padding-bottom: 10px;
	}
	.value {
		font-style: italic;
		width: 70%;
		padding-bottom: 10px;
	}

	.images-project {
		margin-top: 50px;
	}

	.popup {
		img {
			margin-bottom: 30px;
		}

		&:last-child {
			img {
				margin-bottom: 0;
			}
		}
	}

}

/* ===========  6. Posts  =========== */
.post {
	// margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
	.post-content {
		background-color: $post_background;
		padding: 50px 50px 40px;

		.title-span {
			display: inline-table;
		}

		.title-logo {
			display: table-cell;
			vertical-align: middle;
			object-fit: cover;
			margin-right: 14px;
			width: 38px;
		}

		.title {
			display: table-cell;
			vertical-align: middle;
		}

		.title-link {
			color: #4a4a4a;
			float: right;
			font-size: 32px;

			&:hover {
				opacity: 0.5;
			}
		}

		// .title-download {
		// 	float: right;

		// 	.download-btn{
		// 		background-color: #0D0D0D;
		// 	    border-radius: 5px;
		// 	    color: white;
		// 	    font-size: 16px;
		// 	    font-weight: bold;
		// 	    padding: 13px 15px 13px 15px;

		// 	    &:hover {
		// 			opacity: 0.7;
		// 	    	color: white !important;
		// 		}


		// 		i {
		// 			font-size: 20px;
		// 		}

		// 		b {
		// 			margin-left: 8px;
		// 		}
		// 	}


		// 	p {
		// 		margin-top: 14px;
		// 		font-size: 11px;
		// 		text-align: center;
		// 		color: $sub_title_color;
		// 	}

		// }
	}
	.aspect-ratio-container  iframe {
		margin-bottom: 0;
	}
	.post-media {
		width: 100%;

		.aspect-ratio-container {
			margin-bottom: 0px;
		}
	}
}

.title-download {
	float: right;

	.download-span {
		display: block;
		margin-bottom: 16px;
		
		p {
			display: inline-block;
			margin-right: 8px;
			text-align: right;
			min-height: 24px;
		}

		&.windows {
		    //float: right;
		}
	}

	.download-note {
		width: 170px;
		margin-top: -15px;
		line-height: 17px;
		text-align: end;
		float: right;
	}

	.download-btn {
		display: inline-block;
		width: 137px;
		background-color: $sub_title_color;
	    border-radius: 5px;
	    color: white;
	    font-size: 16px;
	    font-weight: bold;
	    padding: 13px 15px 13px 15px;
	    float: right;

	    &.download-score {
	    	width: 96px;
	    	padding: 5px 10px 3px 10px;
	    }

	    &:hover {
			opacity: 0.75;
	    	color: white !important;
		}

		&.selected {
			background-color: #0D0D0D;
		}

		i {
			font-size: 20px;
		}

		b {
			margin-left: 8px;
		}
	}

	.youtube-btn {
	    font-size: 30px;
	    margin-right: 15px;

	    i {
			@include transition(all 0.3s ease);
	    	color: black;

	    	&:hover {
	   			opacity: 0.5;
	    	}
	    }
	}

	.musescore-btn, .soundslice-btn {
		img {
			@include transition(all 0.3s ease);
			width: 30px;
			height: 30px;
	   		margin-right: 15px;

	   		&:hover {    
	   			opacity: 0.5;
	    	}
	    }
	}

	.soundslice-btn {
		img {
			width: 38px;
			height: 38px;
		}
	}


	p {
		margin-top: 14px;
		font-size: 11px;
		text-align: center;
		color: $sub_title_color;
	}

}

.slick-arrow {
	cursor: pointer;
	padding: 20px;

	&:hover {
		opacity: 0.75;
	}

	&:active {
		opacity: 0.5;
	}
}

.slick-disabled {
	opacity: 0.25;

	&:hover {
		opacity: 0.25;
	}
}

.prev {
	margin-left: -56px;
  display: block;
  position: absolute;
  z-index: 1000;
  top:50%;
  transform: translateY(-50%);
}

.next {
	margin-right: -56px;
  display: block;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.post-details {
	font-style: italic;
	font-size: 13.5px;

	a {
		display: inline-block;

		&:after {
			content: '//';
			margin-left: 5px;
			margin-right: 5px;
		}

		&:last-child {
			&:after {
				content: normal;
			}
		}
	}
}

.commentbox{
	margin-top: 14px;
}

.powr-reviews {
	margin-top: 8px;
	margin-right: -10px;
	margin-left: -2px;
}

.comments .rating-2 {
    color: black !important;
}

.title-os {
	float: right;
}

.os {
	margin-left: 20px;
	font-size: 38px;

	&.selected {
		color: #000000 !important;
	}

	&:hover {
		cursor: pointer;
	}
}

.tab {
	white-space: nowrap;
	height: 35px;
	width: 33.3333333%;
	border: 0px;
	font-weight: 700;
	font-size: 15px;

	background: $tab_color;

	&.selected {
		background: $post_background;
	}
	&:not(.selected):hover {
		background: $tab_hover_color;
	}
}

.the-content {
	margin-top: 20px;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		font-size: 14px;
		// font-style: italic;
		padding-left: 20px;

		li {
			margin-bottom: 5px;
		}
		> li {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.the-fundraisers {
	margin-top: 20px;
}
.fundraiser {
	margin-top: -20px;
}
.fundraiser-completed {
	opacity: 0.5;
}
.fundraiser-icon {
	font-size: 30px;
	vertical-align: top;
    margin-top: 80px;
    width: 14%;
    text-align: right;
}
.embed-fundraiser {
	margin-top: 10px;
}

.the-release-notes, .the-faq {
	.item {
		margin-top: 30px;

		.title {
			font-size: $sub_title_size;
		}
		.date {
			color: $sub_title_color;
			font-size: $sub_sub_title_size;
			// vertical-align: bottom;
			margin-left: 8px;
		}
		.fa-download {
			margin-left: 8px;
    	color: $body_color !important;

			&:hover {
				color: $sub_title_color  !important;
			}
		}
		.description {
			margin-top: 8px;
			font-size: $body_size;

			img {
				width: auto;
			}
			img + li {
				margin-top: 10px;
			}
		}
	}
}

.the-new-quesions {
		margin-top: 30px;
}

.post-footer {
	// margin-top: 30px;
	.socials {
		padding-top: 20px;
	}
}
.cat {
	strong {
		margin-right: 5px;
	}
	a {
		color: #000000;
		&:after {
			content: ',';
			margin-right: 5px;
		}

		&:last-child {
			&:after {
				content: normal;
			}
		}
	}
}

.post-tags {
	a {
		opacity: 1;
		display: inline-block;
		color: #000000;

		&:before {
			margin-left: 5px;
			content: '#';
		}

		&:first-child {
			&:before {
				margin-left: 0;
			}
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.post-share {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 30px;

	a {
		color: #000000;
		margin-left: 5px;
		margin-right: 5px;

		&:hover {
			opacity: 0.4;
		}
	}
}

.the-excerpt {
	margin-top: 20px;
}

#comments {
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px solid #ababab;

	.comment-list,
	.children {
		list-style: none;
	}

	.comments-inner {
		margin-top: 30px;

		+ #respond {
			margin-top: 50px;
		}
	}

	.comment-list {
		padding-left: 0;
	}

	.children {
		padding-left: 30px;
	}
	.comment-avatar {
		width: 60px;
		height: 60px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		overflow: hidden;
		float: left;
	}
	.comment-context {
		margin-left: 60px;
		padding-left: 20px;

		.title {
			font-size: 16px;
			display: inline-block;
		}
	}
	.comment-content {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.comment-date {
		color: #ababab;
		font-size: 14px;
		font-style: italic;

		&:before {
			content: '-';
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.comment-body {
		margin-top: 30px;
	}
	.reply {
		font-style: italic;
	}

}

.comment-form {
	margin-top: 20px;
}

.contact-item {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	textarea {
		padding-top: 6px;
		padding-bottom: 6px;
		resize: none;
		overflow: hidden;
		height: auto;
	}
	.submit {
		display: inline-block;
		min-width: 100px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: #000000;
		color: #ffffff;
		border: none;
		height: 36px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;

		&:disabled {
			opacity: 0.4;
		}
	}
}

.contact-message {
	display: inline-block;
}

.post_404_not_found {
	margin-top: 20px;
}

.go-to-home {
	min-width: 100px;
	padding: 5px 15px;
	display: inline-block;
	background-color: #000000;
	color: #ffffff;
	margin-top: 10px;

	a {
		color: inherit;
		opacity: 1;

		&:hover {
			color: inherit !important;
			opacity: 0.8;
		}
	}
}
/* ===========  7. Footer  =========== */
.footer-inner {
	margin-top: 80px;
	border-top: 1px solid #ababab;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 80px;
	margin-right: 50px;
	font-size: 12px;

	.title {
		font-size: 14px;
		font-weight: 700;
	}

	ul {
		list-style: none;
		font-size: 12px;
		margin: 0;
		padding: 0;
	}

}

/* ===========  8. Preload  =========== */

#preload {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	// background-color: #fff;
	z-index: 9999999;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.kd-bounce {
		width: 40px;
		height: 40px;
		position: relative;
		margin: 40px auto;

		&:before, &:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #242424;
			opacity: 0.4;
			position: absolute;
			top: 0;
			left: 0;
			animation: kd-bounce 2.4s infinite ease-in-out;
		}

		&:after {
			animation-delay: -1.2s;
		}
	}
}

@keyframes kd-bounce {
	0%, 100% {
		transform: scale(0); }
	50% {
		transform: scale(1); }
}

/* ===========  9. Responsive  =========== */
@media screen and (max-width: 991px) {
	.aspect-ratio-container {
		margin-bottom: 10px;
	}
	.preload {
		display: none;
	}
	.mobile {
		display: block;
	}
	.header,
	.menu-left .header {
		left: 0;
		width: 250px;
		z-index: 9999;
		background-color: #000000;
		text-align: center;
		@include translateX(-101%);
		@include transition(transform 0.3s ease);

		.logo {
			color: #ffffff;
			padding-top: 10px;
			padding-bottom: 30px;
		}
		.socials {
			padding-top: 30px;
		}
		.main-menu {
			// margin-top: 30px;
			// padding-bottom: 30px;
		}

		&.active {
			@include translateX(0);
		}
	}
	.main-menu,
	.menu-left .main-menu {
		// max-height: 45%;
		overflow-y: auto;
		overflow-x: hidden;
		a {
			&:hover {
				color: #ffffff !important;
			}
		}
		.active {
			a {
				color: #ffffff;
			}
		}
		.sub-menu  {
			display: none;
			position: relative;
			width: 100%;
			left: 0;
			visibility: visible;
			opacity: 1;
			padding-left: 0;
			text-align: center;

			li, li:first-child, li:last-child {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	.projects {
		padding-left: 50px;
		padding-right: 50px;
	}
	.footer-inner {
		margin-left: 50px;
		margin-right: 50px;
	}
	.socials {
		a {
			margin-right: 10px;

			&:hover {
				color: $link_hover_color_white !important;
			}
		}
		.fa-search {
			color: #ffffff;
		}
	}
	.hide-menu {
		&.active {
			visibility: visible;
			opacity: 1;
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		padding-top: 30px;
	}
	.project-item {
		margin-bottom: $margin-bottom;
	}
}

@media screen and (max-width: 600px) {
	.post {
		.post-content {
			padding: 20px;
		}
	}
	.project {
		.detail-content {
			padding: 20px;
		}
		.images-project {
			margin-top: 30px;
		}
	}
	#comments {
		.children {
			padding-left: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	.prev {
		margin-left: -34px;
		font-size: 10px;
	}
	.next {
		margin-right: -34px;
		font-size: 10px;
	}

	.projects {
		padding-left: 0;
		padding-right: 0;
	}

	.project-item {
		.title {
			top: 3px;
			left: 13px;
		}
	}

	.footer-inner {
		margin-left: 0;
		margin-right: 0;
	}

	.mobile {

		margin-bottom: 50px;

		.logo {
			font-size: 30px;
			padding-left: 20px;
		}
	}

	.project-item {
		margin-bottom: 15px;
	}
	#comments {
		.comment-avatar {
			float: none;
		}
		.comment-context {
			margin-top: 20px;
			margin-left: 0;
			padding-left: 0;
		}
		.reply {
			text-align: right;
		}
	}
	.navigation-wrap {
		margin-top: 30px;
	}
	.footer-inner {
		margin-top: 50px;
	}
}

.attention {
	color: darkred;
}