<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

  {% include head.html %}

  <body class="home">
    <div class="main-content">
      <div id="preload">
        <div class="kd-bounce">
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="mobile">
        <div class="container">
          <div id="menu" class="menu-mobile">
            <!-- <div class="menu-mobile-background"></div> -->
            <span class="item item-1"></span>
            <span class="item item-2"></span>
            <span class="item item-3"></span>
          </div>

          <div class="logo">
            <a href="index.html"> {{ site.title}} </a>
          </div>
        </div>
      </div>
      <div class="hide-menu"></div>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            {% include menu.html %}
          </div>

          <div class="col-md-9 col-md-offset-3">
            <div class="projects">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  {% include scripts.html %}

</html>
