---
layout: default
---

{% include project.html   title = page.title
	                      img = page.img
	                      logo = page.logo
	                      download = page.download
	                      html-class = page.html-class
	                      counter-key = page.counter-key
	                      aspect-photo = page.aspect-photo
	                      video = page.video
	                      soundcloud = page.soundcloud
	                      bandcamp = page.bandcamp
	                      website = page.website
	                      content = content  %}